{% extends 'basis.tmpl' %}
{% set active_page = 'wiki' %}

{% block title %}Edit {{pagename}}{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/wiki.css">
{% endblock %}

{% block content %}
	<h1>{{pagename}}</h1>
	<div class="wikitext">
		<form action="/save/{{pagename}}" method="post">
			<textarea class="wikiedit" name="wikitext">{{text|safe}}</textarea>
			<textarea class="wikiicon" name="wikiicon">{{wikiicon|safe}}</textarea>
			<input type="submit" value="save">
		</form>
	</div>
	<div class="actions">
		<a href="/show/{{pagename}}">cancel</a>
	</div>
{% endblock %}
