html {
    background-color: lightgoldenrodyellow;
    color: black;
}

body {
    background-color: lightgoldenrodyellow;
    color: black;
}

input[type=submit] {
    background-color: grey;
    color: black;
}

section{
    background-color: white;
    border: 1px solid black;
}

nav {}
.main_navigation{
    background-color: #cd853f;
    color: black;
}

.secondary_navigation{
    background-color: lightgoldenrodyellow;
    color: black;
}

a:visited { color: black; }
a:link { color: black; }

.user { border: 1px grey solid; }

.active {
    background-color: lightgoldenrodyellow;
}