body {
	margin: 50px;
}

.wikitext {
	background-color: inherit;
	color: inherit;
	padding: 10px;
	margin: 10px;
}

.wikiicons-items {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

.wikiicon {
	background-color: inherit;
	color: inherit;
	padding: 10px;
	margin: 10px;
}

.wikiedit {
	background-color: inherit;
	color: inherit;
	display: block;
	min-height: 20em;
	width: 80%;
}

.actions {
	background-color: inherit;
	color: inherit;
	margin: 15px;
	text-align: right;
}

.recently{
	display: block;
	position: relative;
	display: block;
	background-color: inherit;
	color: inherit;
	margin: 15px;
	width: 100%;
}
