<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Basis{% endblock %}</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="/static/basis.css">
    {% if True %}
        <link rel="stylesheet" href="/static/basisDay.css">
    {% else %}
        <link rel="stylesheet" href="/static/basisNight.css">
    {% endif %}


</head>
<body>
<nav class="main_navigation">
    {% set navigation_bar = [
    ('/', 'wiki', 'Wiki'),
    ('/iconeditor', 'iconeditor', 'Icon-Editor'),
    ('/hilfe', 'hilfe', 'Hilfe')
    ] -%}
    {% set active_page = active_page|default('wiki') -%}

    <ul>
        <li>ICONwiki</li>
        {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif%}>
        <a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
    </ul>
</nav>

<div class="col-1">
<nav class="secondary_navigation">

    <ul>
        <li>Sekundärnavigation</li>
    </ul>
</nav>
</div>

<section>
    {% block content %}...no content...{% endblock %}
</section>

</body>
</html>