<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Basis{% endblock %}</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="/static/basis.css">
    {% set nightmode = nightmode|default('hell') -%}
    {% if nightmode == 'hell' %}
        <link rel="stylesheet" href="/static/basisDay.css">
    {% else %}
        <link rel="stylesheet" href="/static/basisNight.css">
    {% endif %}


</head>
<body>
{{ test }}
<nav class="main_navigation">
    {% set navigation_bar = [
    ('/', 'wiki', 'Wiki'),
    ('/iconeditor', 'iconeditor', 'Icon-Editor'),
    ('/hilfe', 'hilfe', 'Hilfe'),
    ('/settings', 'settings', 'Einstellungen')
    ] -%}
    {% set active_page = active_page|default('wiki') -%}

    <ul>
        <li>ICONwiki</li>
        {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif%}>
        <a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
    </ul>
</nav>

<nav class="secondary_navigation">

    <ul>
        <li>Sekundärnavigation</li>
        {% for href, iconcode, iconname, name in sidebar %}
        <li{% if name == pagename %} class="active"{% endif%}>
        {% if iconcode != "" and iconname != "" %}
        <a class=icon-list-item><img src='{{ iconcode|safe }}' title='{{ iconname|safe }}'></a>
        {% endif%}
        <a href="{{ href|e }}">{{ name|safe }}</a></li>
        {% endfor %}
    </ul>
</nav>

<section>
    {% block content %}...no content...{% endblock %}
</section>

</body>
</html>