{% extends 'basis.tmpl' %}
{% set active_page = 'hilfe' %}

{% block title %}Hilfe{% endblock %}

{% block content %}
	<h1>Hilfe</h1>
	<div>
		<ul>
		    <li>Oben ist die Navigationsleiste</li>
		    <li>Die Aktuelle Seite wird hervorgehoben</li>
		    <li>Unter "Wiki" finden Sie die Wiki Seite</li>
		    <li>Unter "Icon-Editor" finden Sie den Icon-Editor</li>
		    <li>Unter "Hilfe" finden Sie diese Seite</li>
		</ul>
	</div>
{% endblock %}
